<center>
	<div class="row">
		{% if actors|length > 0 %}
			{% for actor in actors %}
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<a href="{{ path('gaea_movies_infopelis_actor_detail', {'id': actor.id}) }}">
						<h5>{{ actor.name }}<br></h5>
					</a>
					<h5>
						<small>
							{% if actor.character is defined %}
								Character: {{ actor.character }}
							{% endif %}
							{% if actor.known_for is defined %}
								{% if actor.known_for|length > 0 %}
									Known for: 
									{% for movie in actor.known_for %}
										{% if movie.original_title is defined %}
											<a  class="popoverMovieData" 
												rel="popover" 
												data-content="<center>
																<h5 class='text-primary'>{{ movie.original_title }}<br/><small>Release Date: {{ movie.release_date }}</small></h4>
																<div class='img-thumbnail thumbnail-movie-list'>
																	<img class='img-movie-list' src='
																		{% if movie.poster_path != '' %}
																			https://image.tmdb.org/t/p/w130/{{ movie.poster_path }}
																		{% else %}
																			{{ asset('bundles/gaeamoviesinfopelis/images/no-movie-image.png') }}
																		{% endif %}
																	'/>
																</div>
															  </center>"
												href="{{ path('gaea_movies_infopelis_movie_detail', {'id': movie.id}) }}">
												{{ movie.original_title }}. 
											</a>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endif %}
						</small>
					</h5>
					<a href="{{ path('gaea_movies_infopelis_actor_detail', {'id': actor.id}) }}">
						<div class="img-thumbnail thumbnail-actor-list col-middle">
							{% if actor.profile_path != '' %}
								<img src="https://image.tmdb.org/t/p/w130/{{ actor.profile_path }}" alt="{{ actor.name }}" class="img-responsive img-actor-list"/>
							{% else %}
								<img src="{{ asset('bundles/gaeamoviesinfopelis/images/no-user-image.jpg') }}" alt="{{ actor.name }}" class="img-responsive img-no-actor-list"/>
							{% endif %}
						</div>
					</a>
				</div>
				{% if loop.index % 4 == 0 %}
					<div class="clearfix visible-md visible-lg"></div>
				{% endif %}
				{% if loop.index % 3 == 0 %}
					<div class="clearfix visible-sm"></div>
				{% endif %}
			{% endfor %}
		{% else %}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3 class="text-primary">We're sorry, no actors were found</h3>
			</div>
		{% endif %}
	</div>
</center>
